<div class="mt-4">
  <div class="row">
{{#each Course}}
    <a href="/profile/{{this.slug}}">
    <div class="card" >
      <div class="card-body">
        <h5 class="card-title">{{this.name}}</h5>
        <p class="card-text">{{this.occupation}}</p>
        <a href="" class="btn btn-primary">{{this.age}}</a>
      </div>
    </div>
    </a>
    {{/each}}
  </div>
</div>