<form method="" action="">
  <div class="mt-5">
    <label for="Search" class="form-label">Search</label>
    <input type="text" name="q" class="form-control" id="Search" >
  </div>

  <div class="mt-5">
    <label for="Search" class="form-label">Search</label>
    <select type="text" name="gender" class="form-control" id="Search">
        <option value="">-- Chosen Gender</option>
        <option value="nam">Female</option>
        <option value="nu">Male</option>
    </select>
  </div>
  <button type="submit" class="btn btn-primary">Search</button>
</form>