<div class="mt-4">
    <form method="POST" action="/profile/store">
        <input class="form-control mt-4" type="text" placeholder="name" id="name" name="name" >
        <input class="form-control mt-4" type="text" placeholder="age" id="age" name="age" >
        <input class="form-control mt-4" type="text" placeholder="occupation" id="occupation" name="occupation">
        <button type="submit" class="btn btn-primary mt-4">Create</button>
    </form>
</div>